.container {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 20rem;
        border-radius: 2%;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    p {
        text-align: center;
    }
}