:root {
    --background: #1A1A1A;
    --text: #DEDEDE;
    --button: #8720B7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: Roboto, sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}